/* CSS Document */
body {margin: 0;}


/* Css pour que les images s'adaptent bien au petites tailles de fenêtree */
#logos {
	max-width : 100%;
	display: block;
	margin:auto;
}
#log {
	width:100%;
}
#Cosmog img {
	max-width: 100%;
}
#image_defile img{
	max-width: 100%;
}

