

/* ----------------------------------------------------------------------------*/
                            /*Simulation Univers */
/* Mise en page de base adapté aux mobiles et balises pour les écrans plus grand ainsi la lecture mobile demande moins de ressources */




/* Enregistrer graphique */
#dl,#type {display: none;}

html, body {
}

.inp {
	text-align: center;
	display:inline-block;
	width:95%;
}

#type_sim,#coche_sim,#trace_box {
	text-align: center;
}
/* Bouton haut droite */
#para,#calc_a,#calc {display: inline-block;}

#Boutons_top_right {
	float:right;
	display: block;
	width:100%;
}
#trace,#calc{margin-top:5px;}
#para {
	margin-right:5px;
	margin-top:10px;
	margin-left:5px;
}
#para {
	float:right;
	width:30px;
	height:30px;
	border:hidden;
	background: url("../Images/48698.svg");
	background-repeat: no-repeat;
	background-size:auto;
}
#calc {float: right;}
#modele {
	width:200px;
	height:200px;
}

#grille,#univ_plat {
	display: inline-block;
}
#liste {
	border:1px double black;
}
/* Style des boutons */
.myButton {
	-moz-box-shadow:inset 0px 0px 4px 0px #f5978e;
	-webkit-box-shadow:inset 0px 0px 4px 0px #f5978e;
	box-shadow:inset 0px 0px 4px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*------*/

@media all and (min-width:1050px) and (min-device-width:1050px) {
	#information {
		width:35%;
	}
	#graphique_svg {
		width:100%;
		height:500px;
	}
	#graphique {
		float:right;
		margin-top:-140px;
		margin-right:20px;
		width:60%;
	}
	
	#modele{
		width:30%;
		height:500px;
		margin-top:5px;
	}
	#dl,#type{display: inline-block;}
	
}

/*
@media screen and (max-width:1050px) {
	#information{
		border:2px solid blue;
		width:50%;
		height:300px;
		padding-top::;0px;
	}
	#canvas {
		
		height: 100%;
		float:right;
	}
	#modele {
		border:2px solid black;
		position:relative;
		margin-top:-900px;	
		float:right;
		width:48%;
		height:300px;
	}
	#graphique {
		border:2px solid red;
		width:100%;
	}
}
*/



	

