/*
	Cosmograve
*/
@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}
body {
	background-color: #D8D8D8;
}
label{
	font-weight 	:	bold;
}
.desact_retour{
	display			:	inline-block;
}
#parametres{
	text-align		:	center;
}
#graphique2{
	margin-right	:	50px;
	margin-top		:	2%;
	float			:	right;
}
#information{
	margin-top		:	1%;
	margin-left		:	3%;
	border			:	1px black solid;
	padding			:	10px;
	width			:	280px;
}
#canvas{
	float			:	left;
	margin-top		:	1%;
	width:48%;
}
#plus{
	float			:	right;
}
#plus button{
	font-weight 	:	bold;
}
.axis path, .axis line {
	fill			:	none;
	stroke			:	grey;
	stroke-width	:	1;
	shape-rendering	:	crispEdges;
}
svg{
	text-align		:	center;
}
.legend_axe{
	font-weight		:	bold;
	font-size		:	1.2em;
}
.legend_titre{
	font-weight		:	bold;
	font-size		:	1.3em;
}
#tabs-2{
	margin			:	0px;
	padding			:	0px;
}
#tabs-3{
	margin			:	0px;
	padding			:	0px;
}
#tabs-a{
	height			:	100%;
}
#graphique2 {
	text-align: center;
	width:50%;
	height:50%;
	float:right;
	margin:auto;
}
#svg_2{

	width:100%;
	float:right;}

/* Entre 1700 et 1320 pixels les deux bouton de trajectoires redescendent */

@media screen and (min-width:1320px) and (max-width:1700px) 
{
	#radio_button,#rebond {
		display:inline-block;
	}
	#masse {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#information {
		margin: 0 auto;
	}


}

/*Entre 1300 et 1050 les bouton p,m,reset ... */

@media screen and (min-width: 1050px) and (max-width: 1300px) 
{
	#buts {
		display: inline-block;
		margin-bottom: 5px;
		margin-top:5px;
	}
	#buts,#radio_button,#rebond {
		display:block;
	}
	#masse {
		margin-bottom:5px ;
	}
	#information {
		margin: 0 auto;
	}
	

}

/* En dessous de 1050 px */
@media screen and (max-width: 1050px) {
	#vitesse {
		display: inline-block;
	}
	#rayons {
		display: inline-block;
		margin-top:4px;
		margin-bottom:4px;
	}
	#rayons,#vitesse,#buts {
		display: block;
	}
	#information {
		margin:0 auto;
		margin-top:5px;
	}
	#buts {
		margin-top:5px;
		margin-bottom: 5px;
	}

	#graphique2 {
		width:100%;
		text-align: center;
	}
	#canvas{
		text-align: center;
		width:100%;}
	
}

@media all and (max-device-width: 600px){
	html {
		width:100%;	
	}
	#masse,#rayon,#rayon_phy,#vitesse2 {
		display:block;
	}

	/* On affiche pas le graphique sur mobile car probleme de taille (à regler)*/
	#graphique2 {
		display:none;
		float:none;
		margin: 0 auto;
	}
	#myCanvas {
		width:100%;
		display:block;
		margin:0 auto;
		
	}
	
}